.header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    flex-grow: 2;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: sans-serif;
}

.item { 
    font-size: 18px;
    flex: 2; 
    margin: 0 2;
    color: #E5E7EB;

}

.logo{
    display:flex;
    align-content: flex-start;
    flex-grow: 10;
    font-size: 24px;
    font-weight: bold;
}

.div1{
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.lefthead{
    gap: 24px;
    display: flex; 
    flex-direction: column;
    flex-wrap: column wrap;
    align-content: flex-start;
    gap: 5px;
    color: #F9FAF8;
    align-items: flex-start;
    width: 45em;
}

.h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    color: #E5E7EB;
    width: 85px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-weight: bold;
}

.img{
    border-width: 1px;
    border-color: black;
    background-color: lightslategray;
    padding: 100px 100px 100px 100px;
    color: #E5E7EB;
    flex-grow: 1.5;
    text-align: center;
}